body {
    font-family: "Alkatra", system-ui !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: #333333 !important;
}

/* .alkatra-<uniquifier> {
    font-family: "Alkatra", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
   */
.container{
    flex: 1;
    padding: 1rem;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: #096C6C;
}
.nav-link{
    color: #fff !important;
}

.nav-link:hover {
    color: black !important; /* Blue on hover */
}

.fa-compass{
    color: #fff;
    font-size: 2rem !important;
}


/* Footer */
footer {
    margin-top: 20px; /* This pushes the footer to the bottom */
    
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links , .f-info-socials , .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 2rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Cards */
.row{
    margin: 2rem !important;
}

.card{
    border-radius: 1rem !important;
    margin-bottom: 2rem ;
    height: 88% !important;
    padding-bottom: 10%;
}


.card-img-top{
    border-radius: 1rem !important;
    width: 90% !important;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
    /* text-align: left; */
  }

.card-text{
    font-size: 1rem;
    color: #333333 !important;
    margin: 12px;
    padding-bottom:20px;
  }

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white
    /* background-color: white; */
}

/* Adjust wishlist button styling to stand out */
.btn-wishlist {
    position: relative;
    z-index: 10; /* Ensures the button is above the overlay */
}

.btn-wishlist{
    margin-top:5px;
    margin-left: 5%;
    /* background-color:  #83dfea !important; */
    border: none !important;
    color: #222222 !important;
}

/* .btn-wishlist:hover{
    background-color: rgb(1, 194, 247) !important;
} */

button i{
    /* color: rgb(238, 83, 83); */
    transition: all ease 0.4s;
    font-size: 1.5rem;
    transition: transform 250ms;
}

button i:hover{
    transform: translateY(-10px);
}

/* show page */
.show-img{
    height: 30vh;
    width: 30rem !important;
}


.show-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-btn-one{.show-card{
    padding-right: 0;
    padding-left: 0;
}
    margin-right: 3rem;
}


  /* show listing */

.show-row{
    display: flex;
    flex-wrap: wrap;
}

.card-show{
    width: 100%;
    margin-right: 2rem !important;
}

/* .card-body-show{
    padding: 1rem !important;
} */

.card-body-show {
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;
}


.btn {
    transition: 0.3s, transform 0.2s;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn i{
    font-size: 20px;
}




